@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css2?family=Comfortaa&display=swap);


.header_login {
    font-family: 'Comfortaa', cursive;
    font-size: 60px;
    width: 100%;
    color: #f2f2f2;
    margin-top: 3%;
    font-weight: bolder;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.24);

}

.login-page {
    width: 360px;
    padding: 5% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form_register {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding-top: 10px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: 'Comfortaa', cursive;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    cursor: pointer;
}

.form_register input {
    font-family: 'Comfortaa', cursive;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form_register button {
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    outline: 0;
    background: #1877f1;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #004a7c;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #004a7c;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.form_register .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form_register .message a {
    color: #004a7c;
    text-decoration: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}

.message_2 {
    font-size: 15px;
}


body {
    background: #004a7c; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #004a7c, #018ae8);
    background: -moz-linear-gradient(right, #004a7c, rgb(1, 138, 232));
    background: -o-linear-gradient(right, #004a7c, #018ae8);
    background: linear-gradient(to left, #004a7c, #018ae8);
    font-family: 'Comfortaa', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

footer {
    color: #f2f2f2;
    bottom: 0;
    position: absolute;
    font-size: 15px;
}