@import url(https://fonts.googleapis.com/css2?family=Comfortaa&display=swap);

.account-info {
    display: flex;
    flex-direction: row;
    background-color: #007bd0;
    position: fixed;
    top: 0;
    right: 1%;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);

}

.account-name {
    color: white;
    text-transform: capitalize;
    margin-left: 17px;
    margin-top: 17px;
    margin-bottom: 17px;
    margin-right: 5px;
}

.account-logged-in {
    margin: 10px;
    width: 25px;
    height: 30px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);

}

.topnav {
    position: absolute;
    overflow: hidden;
    background-color: #f2f2f2;
    right: 0;
    left: 0;
    top: 154px;
    /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}

.topnav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    float: right;
}



.topnav a:hover {
    background-color: #b3b3b3;
    color: black;
}

.logout {
    background-color: #9e9e9e;
    color: #f2f2f2;
}


.header_login {
    font-family: 'Comfortaa', cursive;
    font-size: 70px;
    width: fit-content;
    color: #f2f2f2;
    padding-left: 1%;
    margin-top: 40px;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.24);
    /*padding-bottom: 10px;!*padding-top: 1px;*!*/
    /*font-weight: lighter;*/
}



.floating_button {
    border: none;
    position: absolute;
    left: 210px;
    bottom: 1%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 30%;
    height: 40px;
    width: fit-content;
    font-size: 17px;
    background-color: #018ae8;
    font-family: 'Comfortaa', cursive;
    color: #e3e3e3;
    outline: none;
    border: 1px black;
    cursor: pointer;
}

.floating_button button:hover {
    background-color: #004a7c;

}

.floating_button2 {
    border: none;
    position: absolute;
    right: 20px;
    bottom: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 25%;
    height: 40px;
    width: fit-content;
    font-size: 17px;
    background-color: #018ae8;
    font-family: 'Comfortaa', cursive;
    color: #e3e3e3;
    outline: none;
    border: 1px black;
    cursor: pointer;
}

.table_container {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 201px;
    background-color: white;
    width: 18%;
    height: 78.5%;

}
.edit-button {
    background-color: #9e9e9e;
    font-family: 'Comfortaa', cursive;
    width: 95%;
    color: #f2f2f2;
    border-radius: 12px;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);

}

.done-button {
    background-color: #007bd0;
    font-family: 'Comfortaa', cursive;
    width: 95%;
    color: #f2f2f2;
    border-radius: 12px;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

.done-button:hover {
    background-color: #0071bf;
}

.edit-button:hover{
    background-color: #4d4d4d;
}

.client-group {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 201px;
    overflow: auto;
    background-color: #f2f2f2;
    width: 18%;
    height: 78.5%;
    padding-left: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
}

.client-button {
    font-family: 'Comfortaa', cursive;
    border-radius: 12px;
    background-color: white;
    border: none;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    display: block;
    width: 95%;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}



.client-group button:not(:last-child) {
    border-bottom: none;
}

.client-group :focus {
    outline: none;
}

.client-button:hover {
    background-color: #e3e3e3;
/*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/

}

/*.client-list-item {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-content: center;*/
/*    padding-top: 4px;*/
/*}*/

.search input[type=text] {
    font-family: 'Comfortaa', cursive;
    border: 1px ;
    border-radius: 20px;
    background: white;
    padding: 12px;
    margin: 8px;
    font-size: 14px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
    position: fixed;
    top: 150px;
    width: 15%;
    z-index: 1;
}

.search :focus {
    outline: none;
}

.info-section {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 30%);
    grid-gap: 10px;
    overflow: scroll;
    background-color: white;
    position: fixed;
    right: 0;
    top: 200px;
    width: 82%;
    height: 80%;
    z-index: -1;
}

.info-avatar {
    width: 132px;
    height: 132px;
    border-radius: 100%;
    padding-left: 10px;
}

.client_profile {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 40px;
    padding-left: 15%;

}

.client_profile_none {
    text-align: center;
    font-family: 'Comfortaa', cursive ;
    text-transform: uppercase;
    font-size: 20px;
}


.profile-banner {
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Comfortaa', cursive ;
    font-weight: bold;
    text-align: center;
}

.item-5-none {
    display: inline-block;
    text-align: center;
}

.item-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.client_details_table {
    border: 1px solid black;
    border-spacing: 10px;
}

.add-client-form {
    position: absolute;
    left: 37%;
    bottom: 10%;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.add-client-form input{
    font-family: 'Comfortaa', cursive;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
}

.add-client-page {
    background-color: white;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%;
    z-index: -1;
    position: absolute;
    overflow: auto;
}

body {
    background: #004a7c; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #004a7c, #0071bf);
    background: -moz-linear-gradient(right, #004a7c, rgb(0, 113, 191));
    background: -o-linear-gradient(right, #004a7c, #0071bf);
    background: linear-gradient(to left, #004a7c, #0071bf);
    font-family: 'Comfortaa', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}