<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <link rel="stylesheet" href="/styling_clients.css" type="text/css">
</head>

<header>
    <div class="account-info" >
        <div class="account-name" th:text="${session.name}"></div>
        <img th:if="${session?.name.contains('Stephen')}" src="/stephen.jpg" class="account-logged-in" border="1">
        <img  th:if="${session?.name.contains('Thanh')}" class="account-logged-in" src="/profile.png">
        <img th:if="${session.name.isEmpty()}" class="account-logged-in" src="/profile.png">
    </div>
    <p class="header_login" align="left" > fitBuddy</p>
</header>

<body>
<div class="topnav">
    <a class="logout" th:href="@{/login}" >Log out</a>
    <a th:href="@{/fitbuddy/homepage}"> Home</a>
</div>



<div class="add-client-page">

    <div class="add-client-container" style="background-color: white">
        <h1 style="text-align: center;text-transform: uppercase; margin-top: 20px">Add client</h1>
        <form class="add-client-form" method="post" action="/addclient">
            <input type="text" name="name" placeholder="Name" required>
            <input type="number" name="age" placeholder="Age" required>
            <input type="number" step="any" name="height" placeholder="Height" required>
            <input type="number" step="any" name="weight" placeholder="Weight" required>
            <input type="text" name="gender" placeholder="male/female" required>
            <input type="submit" th:href="@{/fitbuddy/homepage}">
        </form>
    </div>

</div>

</body>
</html>