<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create an account</title>
    <link rel="stylesheet" href="/styling.css" type="text/css">
</head>

<body>
<p class="header_login" align="center" > fitBuddy</p>

<div class="login-page">
    <div class="form_register">
        <p class="message_2">Enter your details below</p>

        <form class="register-form" action="/createaccount" method="post">
            <input type="text" placeholder="full name" name="name">
            <input type="text" placeholder="username" name="username"/>
            <input type="password" placeholder="password" name="password"/>
            <button>register</button>
            <p class="message">Already registered? <a th:href="@{/fitbuddy}">Sign In</a></p>
        </form>
        <div th:if="${errormessage}">
            <p th:text="${errormessage}"></p>
        </div>
    </div>
</div>

<footer class="footer" >Created by Thanh Do Duc & Stephen Nedd</footer>

</body>

</html>
