<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <link rel="stylesheet" href="/styling_clients.css" type="text/css">
</head>
<header>
    <div class="account-info" >
        <div class="account-name" th:text="${session.name}"></div>
        <img th:if="${session?.name.contains('Stephen')}" src="/stephen.jpg" class="account-logged-in" border="1">
        <img  th:if="${session?.name.contains('Thanh')}" class="account-logged-in" src="/profile.png">
        <img th:if="${session.name.isEmpty()}" class="account-logged-in" src="/profile.png">
    </div>
    <p class="header_login" align="left" > fitBuddy</p>
</header>
<body>
<div class="topnav">
    <a class="logout" th:href="@{/login}" >Log out</a>
    <a th:if="${numVisits}" style="text-align: end"><span th:text="${numVisits}"></span> visit(s) in the last 24 hours</a>
    <a th:if="${numVisits2}" style="text-align: end"><span th:text="${numVisits2}"></span> visit(s) in the last 24 hours</a>

</div>



<div class="client_page">

    <form class="search" action="/fitbuddy/homepage" method="post" >
        <input type="text" placeholder="Search Fitbuddy" name="keyword">
        <input type="submit" style="position: absolute; left: -9000%">
    </form>

    <div class="table_container">
    <table class="client-group">
        <tbody>
            <tr>
                <td colspan="2" >
                    <form action="/add" method="get">
                        <button type="submit" class="edit-button">Add</button>
                    </form>
                </td>
            </tr>

            <tr th:if="${foundCustomers}" th:each="customer : ${foundCustomers}" style="position: absolute; top: 0">
                <td>
                    <form method="get" th:action="'/fitbuddy/homepage/client/' + ${customer.getUserId()}" >
                        <input class="client-button" type="submit" th:value="${customer.getName()}">
                    </form>
                </td>

            </tr>

            <tr th:unless="${foundCustomers}" th:each="customer : ${customers}" >
                <td>
                    <form method="get" th:action="'/fitbuddy/homepage/client/' + ${customer.getUserId()}" >
                        <input class="client-button" type="submit" th:value="${customer.getName()}">
                    </form>
                </td>
            </tr>

        </tbody>

    </table>
    </div>
    <div th:if="${customer}" class="info-section">
        <div class="item-1" >

        </div>
        <div class="item-5" style="margin-top: 20px">
            <img class="info-avatar" src="https://scontent-ams4-1.xx.fbcdn.net/v/t1.0-9/16196015_10154888128487744_6901111466535510271_n.png?_nc_cat=103&_nc_sid=09cbfe&_nc_ohc=R12yYC2H7OYAX8FfX-9&_nc_ht=scontent-ams4-1.xx&oh=f96c4a4a01038161a4d9769be97c3557&oe=5F00AD17" alt="picture">
            <h1 class="profile-banner" th:text="${customer.getName()}">name</h1>
        </div>

        <div class="item-3">

        </div>
        <div class="item-4"></div>
        <div class="item-5">
            <h1 style="text-align: center">Details:</h1>
            <table class="client_details_table">
                <tbody>
                <tr>
                    <th>Age</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Gender</th>
                </tr>
                <tr>
                    <td th:text="${customer.getAge()}"></td>
                    <td th:text="${customer.getHeight()}"></td>
                    <td th:text="${customer.getWeight()}"></td>
                    <td th:text="${customer.getGender()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="item-6"></div>
        <div class="item-7"></div>
        <div class="item-5">
            <h1 style="text-align: center">Workout-List:</h1>
            <table class="client_details_table">
                <tbody>
                <tr>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Calories</th>
                </tr>
                <tr th:if="${workouts}" th:each="workout : ${workouts}">
                    <td>
                        <span th:text="${workout.getName()}"></span>
                    </td>
                    <td>
                        <span th:text="${workout.getDuration()}"></span>
                    </td>
                    <td>
                        <span th:text="${workout.getCaloriePerMin()}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="item-9"></div>
    </div>


    <div th:unless="${customer}" class="info-section">
        <div class="item-1"></div>
        <div class="item-2-none" >
            <p class="client_profile_none"  >Select a client</p>
        </div>
        <div class="item-3"></div>
        <div class="item-4"></div>
        <div class="item-5"></div>
        <div class="item-6"></div>
        <div class="item-7"></div>
        <div class="item-8"></div>
        <div class="item-9"></div>
    </div>

</div>

</body>
</html>