<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log In Page</title>
    <link rel="stylesheet" href="/styling.css" type="text/css">
</head>

<body>
<p class="header_login" align="center" > fitBuddy</p>

<div class="login-page">
    <div class="form">

        <form class="login-form" action="/login" method="post">
            <input type="text" placeholder="Enter username" name="username" required/>
            <input type="password" placeholder="Enter password" name="password" required/>
            <input type="submit" style="text-transform: uppercase ; background-color: #b3b3b3" value="login"/>
        </form>

        <p class="message">Not registered? <a th:href="@{/fitbuddy/createaccount}">Create an account</a> </p>
        <div th:if="${errormessage}">
            <p style="color: brown" th:text="${errormessage}">Error message</p>
        </div>
    </div>
</div>

<footer class="footer" >Created by Thanh Do Duc & Stephen Nedd</footer>


</body>

</html>

